<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ecommerce Text Classification</title>
</head>
<body>
    <header>
        <h1>Ecommerce Text Classification</h1>
    </header>
    <main class="container">
        <form action="/predict" method="POST">
            <label for="description">Enter Text:</label>
            <textarea id="description" name="description" rows="4" cols="50" required></textarea>
            <button type="submit">Classify</button>
        </form>
        {% if prediction %}
            <div id="output">Classification result: {{ prediction }}</div>
        {% endif %}
    </main>
</body>
</html>
